<p id="notice"><%= notice %></p>

<h1>Rus Translations</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Eng word</th>
      <th>Rus word</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rus_translations.each do |rus_translation| %>
      <tr>
        <td><%= rus_translation.eng_word.part_of_speech %></td>
        <td><%= rus_translation.eng_word.word %></td>
        <td><%= rus_translation.rus_word.word %></td>

        <td><%= link_to 'Destroy', rus_translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rus Translation', new_rus_translation_path %>
