<p id="notice"><%= notice %></p>

<p>
  <strong>Eng word:</strong>
  <%= @rus_translation.eng_word %>
</p>

<p>
  <strong>Rus word:</strong>
  <%= @rus_translation.rus_word %>
</p>

<%= link_to 'Edit', edit_rus_translation_path(@rus_translation) %> |
<%= link_to 'Back', rus_translations_path %>
