<p id="notice"><%= notice %></p>

<%= form_tag(test_results_path, method: 'post') do %>
  <% @vocabulary_test.test_line_items.each_with_index do |line_item, i|%>
    <%# it will be perfect to send an array, but radio buttons makes me sad %>
    <p><%= line_item.eng_word.part_of_speech %>: <%= line_item.eng_word.word %></p>
    <%= hidden_field_tag("[#{i}][eng_word][word]", line_item.eng_word.word) %>
    <%= hidden_field_tag("[#{i}][eng_word][part_of_speech]", line_item.eng_word.part_of_speech) %>

      <% line_item.test_options.shuffle.each do |test_option| %>
          <%= radio_button_tag "[#{i}][rus_word]", test_option.option %>
          <%= label_tag test_option.option %>
      <% end %>
    <hr />
  <% end %>

  <div class="actions">
    <%= submit_tag("Finish the test") %>
  </div>
<% end %>


<%= link_to 'Edit', edit_vocabulary_test_path(@vocabulary_test) %> |
<%= link_to 'Back', vocabulary_tests_path %>
