<p id="notice"><%= notice %></p>

<%= form_tag(test_results_path, method: 'post') do %>
  <%= hidden_field_tag("test_result[vocabulary_test_id]",  @vocabulary_test.id) %>
  <% @vocabulary_test.test_line_items.each do |line_item|%>
    <p><%= line_item.eng_word.part_of_speech %>: <%= line_item.eng_word.word %></p>
      <% line_item.test_options.shuffle.each do |test_option| %>
          <%= radio_button_tag "test_result [entries][#{line_item.eng_word.id}]", test_option.option %>
          <%= label_tag test_option.option %>
      <% end %>
    <hr />
  <% end %>

  <div class="actions">
    <%= submit_tag("Finish the test") %>
  </div>
<% end %>

<%= link_to 'Back', vocabulary_tests_path %>
